name: Build Tailwind

on:
  push:
    branches:
      - main  # ou master selon ton repo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install tailwindcss postcss autoprefixer

      - name: Build Tailwind CSS
        run: npx tailwindcss -i ./assets/css/input.css -o ./assets/css/tailwind.css --minify

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add assets/css/tailwind.css
          git commit -m "Auto-build Tailwind CSS" || echo "No changes to commit"
          git push
