name: Daily Algo Update

on:
  schedule:
    - cron: '30 22 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # ON INSTALLE TOUT ICI :
          # - yfinance & lxml : Pour le bot S&P 500
          # - ccxt : Pour le bot Crypto
          # - pandas & requests : Pour les deux
          pip install "numpy<2.0.0" pandas yfinance requests lxml ccxt

      # 1. Le Bot S&P 500 (Ne change pas, utilise yfinance)
      - name: Run S&P 500 Pro Bot
        run: python bots/bot_sp500_pro.py

      # 2. Le Bot Crypto (Nouveau, utilise ccxt)
      - name: Run Crypto Pro Bot
        run: python bots/bot_crypto_pro.py

      - name: Commit and Push Data
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add data/*.json
          git commit -m "Auto-update: Stocks & Crypto Data" || echo "No changes to commit"
          git push
